    .container{
    max-width: 1296px;
    margin: 0 auto;
    padding: 12px;
    }
    img{
        display: block; 
        max-width: 100%;
        height: auto;
    }
    a {
        text-decoration: none;
        color: black;
      }
    body {
        font-family: "Noto Sans TC", sans-serif;
        font-weight: 400;
        line-height: 1.5;
    }